div class="col-sm-6">
	DO MORE THAN SHOPPING
	<br>
With a New Legacy member’s card, our customers get to enjoy a variety of benefits that include amazing discounts on a variety of items, Earning up to 10% in Cash Backs on all purchased items throughout a value month, plus sharing member coupons and Ids with all friends and family.
<br>
All New Legacy Members can also earn great Commissions and bonuses through becoming new legacy Brand ambassadors and sharing about us with their world.
</div>

<div class="col-sm-6">
	
</div>	