<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/pages/product">Men</a></li>
  <li role="presentation"><a href="/pages/women">Women</a></li>
  <li role="presentation"><a href="/pages/children">Children</a></li>
</ul>