<div class="jumbotron">
<div class="white"> 
<h1>NEW LEGACY</h1>
<h2>Your Money's Worth</h2>

</div>
</div>

<div class ="jumbotron other-color" >
	<div class = "center" >
		<div class = "caption" >
New legacy is a dynamic Fashion and lifestyle company that features a referral and consumer to consumer marketing system. Founded in 2015 in Chicago Illinois, New Legacy is under the umbrella of Haywood & Associates investments int’l. Acknowledged as one of the fastest growing fashion and lifestyle retailers/manufacturer in Africa, New legacy is dedicated to influencing and changing the lives of all individuals.

The company was conceptualized to provide exceptional and trendy products as well as influence and impact the financial and social welfare of its customers.
<br>
<br>

MISSION
<br>
To combine an entrepreneurial opportunity with trending quality products for both company profitability as well as directly impacting the lives, wellness and financial growth of our customers. 

<br>
<br>

VISION

<br>
To be a leading fashion brand retailer and manufacturer in Africa

<br>

<h2>CORE VALUES</h2>

<h1>People  .  Integrity  .  Simplicity </h1>
<h1>Passion . Leadership</h1>




    </div>
  </div>
</div>

<div class="container">

<div class="col-sm-6">
	<div class="white">
<h3>	ABOUT US </h3>
	</br>
	<p>
New legacy is a dynamic Fashion and lifestyle company that features a referral and consumer to consumer marketing system. Founded in 2015 in Chicago Illinois, New Legacy is under the umbrella of Haywood & Associates investments int’l. Acknowledged as one of the fastest growing fashion and lifestyle retailers/manufacturer in Africa, New legacy is dedicated to influencing and changing the lives of all individuals.
The company was conceptualized to provide exceptional and trendy products as well as influence and impact the financial and social welfare of its customers.
<p>
</div>
</div>


<div class="col-sm-6">
	<div class="thumbnail nn">
	<%= link_to image_tag("chanel.jpg") %>
</div>

   </div>	
</div>



<div class="container">



	<div class="col-sm-6">
	<div class="thumbnail nn">
	<%= link_to image_tag("dedi.jpg") %>
</div>

</div>

<div class="col-sm-6">
	<div class="white">

<h3 id="dedi">DEDICATION TO QUALITY</h3>
	</br>
	<p>
We at New Legacy have made a commitment to us and our members to offer the best trending products available on the market today. We hold ourselves accountable to the highest standards available and if we can’t find them, we define them. There are industry standards, government standards then there are the New Legacy standards, the highest standards there is to us. Our efforts and targets for quality are shared and emphasized by all our partners, suppliers and affiliates.
<p>

</div>
</div>


	
</div>


<div class="container">

<div class="col-sm-6">
	<div class="white">
	<h3 id="diff">A DIFFERENT KIND OF COMPANY</h3>	

	</br>

	<p>
At New Legacy we believe it all starts with Core Values and beliefs. We are held together not by new technologies or business modules but by a standard of values.
We consider the satisfaction and success of our customers to be our ultimate goal, we take an unusually proactive approach to continually asses our practices and marketing plans in order to effectively better our services and products.
We aim at standing out, doing things differently, and in everything we do we ask ourselves first, “will this benefit our member base?” If the answer is not affirmative, that decision will not be taken.


</p>

</div>
</div>


<div class="col-sm-6">
	<div class="thumbnail nn">
	<%= link_to image_tag("diff.jpg") %>
</div>

</div>	
</div>



<div class="container">

	<div class="col-sm-6">
	<div class="thumbnail nn">
	<%= link_to image_tag("oppor.jpg") %>
</div>

</div>	

<div class="col-sm-6">
	<div class="white">
		<h3 id="life">LIFE CHANGING OPPORTUNITY</h3>

	</br>

	<p>
“Corporations prosper only to the extent that they satisfy human needs, the profit is the only scoring board. The end is better for us all.”
With over 100 new members joining us every day, New Legacy is dedicated to helping people live in a way that was never dreamed possible.
New Legacy allows its members to not only enjoy the best quality products but also start and be in business for themselves, but not by themselves. We provide the roots, leadership and inspirational tools that you need to reach your goals.
Unlike other companies that only brag about their dedication to their clients, we at new legacy have continued to prove to our customers and partners that our commitment and dedication to them is absolute.

</p>

</div>
</div>



</div>
