<div class="jumbotron">
<div class="white"> 
<h1>NEW LEGACY</h1>
<h2>Your Money's Worth</h2>

</div>
</div>

<div class ="jumbotron other-color" >
	<div class = "center" >
		<div class = "caption" >
New legacy is a dynamic Fashion and lifestyle company that features a referral and consumer to consumer marketing system. Founded in 2015 in Chicago Illinois, New Legacy is under the umbrella of Haywood & Associates investments int’l. Acknowledged as one of the fastest growing fashion and lifestyle retailers/manufacturer in Africa, New legacy is dedicated to influencing and changing the lives of all individuals.

The company was conceptualized to provide exceptional and trendy products as well as influence and impact the financial and social welfare of its customers.
<br>
<br>
<br>


MISSION
<br>
To combine an entrepreneurial opportunity with trending quality products for both company profitability as well as directly impacting the lives, wellness and financial growth of our customers. 

<br>
<br>

VISION

<br>
To be a leading fashion brand retailer and manufacturer in Africa

<br>
<br>

CORE VALUES
<br>
People
<br>
Integrity
<br>
Simplicity
<br>
Passion
<br>
Leadership
<br>

    </div>
  </div>
</div>
