<div class="containers">
    <div class="row">

      <div class="col-md-3 contact">
      </div>
      
    
    <div class="col-md-3 address">
      <h4>NEW LEGACY UGANDA</h4>
      <h5>EAST AFRICA HOME OFFICE</h5>
      <p>
        Aponye House Mall,Plot 8 Burton street, 3rd floor, Room 07-08<br/>P.O. BOX 22069<br/>kampala, Uganda
      </p>
    </div>
    <div class="col-md-3 contact">
      <h4>&nbsp;</h4>
      <h5>CONTACT US</h5>
      
        
        
        
      <p> 
      Tel: +256-772-509-619<br/>
        
        
      MOBILE: +256-701-342-680
      </p>

      <a href="https://www.facebook.com/newlegacygroup" target="_blank" title="Facebook"><img src="https://dl.dropboxusercontent.com/s/uwcbx8lcpn7sl8z/facebook.jpg" alt="Facebook"/></a>
        
          
        
   
      </div>

       <div class="col-md-3 contact">
      </div>
    </div>
    <small>Copyright 2016 New Legacy. All rights reserved.</small>
  
  </div>
  
  
 